@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.pagina-entera{
    width: 100%;
    min-height: 100lvh;
    /*background-color: rgb(9, 94, 253);*/
    background-image: url("../assets/img/gimnasio-mobile.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagina-entera::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100lvh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Solo por debajo del contenido */
  }

  .texto-form{
    color: white !important;
    }

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.texto-h1{
    color:white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    z-index: 2;
}

.carta{
    width: 80%;
    height: 300px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: transparent !important;
    border-color: white !important;
}

.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
   
}

@media(min-width: 1024px){

    .pagina-entera{
        background-image: url("../assets/img/gimnasio.jpg");
        background-size: cover;
    }

    .carta{
        width: 30%;
    }
}