.bgBodyTertiary{
        width: 100% !important;
        background-color: #0C4C8A !important;
    }

.logoHamburguesa{
        font-size: 35px;
        color:white;
        margin-left: 15px;
    }

.logoLogout{
        font-size: 33px;
        color:white;
        margin-right: 15px;
    }

.links{
        text-decoration: none;
        color: black;
    }